<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Album</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Albums App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/allTrackPlaylist">All Playlist</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/albums">All Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Add Album</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createpl">Add Playlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/artists">All Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createar">Add Artist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tracks">All Tracks</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="my-5">Create Artist</h1>
    <form action="#" th:action="@{/createart}" th:object="${artist}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" name="name"/>
        </div>
<!--        <div class="form-group">
            <label for="gender">Gender:</label>
            <input type="text" th:field="*{gender}" class="form-control" id="gender" name="gender"/>
        </div>-->
        <div>
            <label for="gender">Gender:</label>
            <select th:field="*{gender}" id="gender" class="form-control">
            <option value="Male" th:text="'Male'"></option>
            <option value="Female" th:text="'Female'"></option>
        </select>
        </div>
<!--        <div class="form-group">
            <label for="id_country">Id Country:</label>
            <input type="number" th:field="*{idCountry.id}" class="form-control" id="id_country" name="id_country"/>
        </div>-->
        <div>
            <label for="country">Country:</label>
            <select th:field="*{idCountry.id}" id="country" class="form-control">
                <option th:each="country : ${countries}"
                        th:text="${country.name}"
                        th:value="${country.id}">
            </select>
        </div>
<!--        <div class="form-group">
            <label for="id_role">Id Role:</label>
            <input type="number" th:field="*{idRole.id}" class="form-control" id="id_role" name="id_role"/>
        </div>-->
        <div>
            <label for="role">Role:</label>
            <select th:field="*{idRole.id}" id="role" class="form-control">
                <option th:each="role : ${roles}"
                        th:text="${role.name}"
                        th:value="${role.id}">
            </select>
        </div>
<!--        <div class="form-group">
            <label for="id_group">Id group:</label>
            <input type="number" th:field="*{idGroup.id}" class="form-control" id="id_group" name="id_group"/>
        </div>-->

        <div>
            <label for="group">group:</label>
            <select th:field="*{idGroup.id}" id="group" class="form-control">
                <option th:each="group : ${groups}"
                        th:text="${group.name}"
                        th:value="${group.id}">
            </select>
        </div>
        <div class="form-group">
            <label for="year_edition">Year:</label>
            <input type="number" th:field="*{yearEdition}" class="form-control" id="year_edition" name="id_group"/>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSLrO1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>